
LiverSegmentations/CRLM-CT-1001/liver.nii.gz
LiverSegmentations/CRLM-CT-1002/liver.nii.gz
LiverSegmentations/CRLM-CT-1003/liver.nii.gz
LiverSegmentations/CRLM-CT-1004/liver.nii.gz
LiverSegmentations/CRLM-CT-1005/liver.nii.gz
LiverSegmentations/CRLM-CT-1006/liver.nii.gz
LiverSegmentations/CRLM-CT-1007/liver.nii.gz
LiverSegmentations/CRLM-CT-1008/liver.nii.gz
LiverSegmentations/CRLM-CT-1009/liver.nii.gz
LiverSegmentations/CRLM-CT-1010/liver.nii.gz
LiverSegmentations/CRLM-CT-1011/liver.nii.gz
LiverSegmentations/CRLM-CT-1012/liver.nii.gz
LiverSegmentations/CRLM-CT-1013/liver.nii.gz
LiverSegmentations/CRLM-CT-1014/liver.nii.gz
LiverSegmentations/CRLM-CT-1015/liver.nii.gz
LiverSegmentations/CRLM-CT-1016/liver.nii.gz
LiverSegmentations/CRLM-CT-1017/liver.nii.gz
LiverSegmentations/CRLM-CT-1018/liver.nii.gz
LiverSegmentations/CRLM-CT-1019/liver.nii.gz
LiverSegmentations/CRLM-CT-1020/liver.nii.gz
LiverSegmentations/CRLM-CT-1021/liver.nii.gz
LiverSegmentations/CRLM-CT-1022/liver.nii.gz
LiverSegmentations/CRLM-CT-1023/liver.nii.gz
LiverSegmentations/CRLM-CT-1025/liver.nii.gz
LiverSegmentations/CRLM-CT-1026/liver.nii.gz
LiverSegmentations/CRLM-CT-1027/liver.nii.gz
LiverSegmentations/CRLM-CT-1028/liver.nii.gz
LiverSegmentations/CRLM-CT-1029/liver.nii.gz
LiverSegmentations/CRLM-CT-1030/liver.nii.gz
LiverSegmentations/CRLM-CT-1031/liver.nii.gz
LiverSegmentations/CRLM-CT-1032/liver.nii.gz
LiverSegmentations/CRLM-CT-1033/liver.nii.gz
LiverSegmentations/CRLM-CT-1034/liver.nii.gz
LiverSegmentations/CRLM-CT-1035/liver.nii.gz
LiverSegmentations/CRLM-CT-1036/liver.nii.gz
LiverSegmentations/CRLM-CT-1037/liver.nii.gz
LiverSegmentations/CRLM-CT-1038/liver.nii.gz
LiverSegmentations/CRLM-CT-1039/liver.nii.gz
LiverSegmentations/CRLM-CT-1040/liver.nii.gz
LiverSegmentations/CRLM-CT-1041/liver.nii.gz
LiverSegmentations/CRLM-CT-1042/liver.nii.gz
LiverSegmentations/CRLM-CT-1043/liver.nii.gz
LiverSegmentations/CRLM-CT-1044/liver.nii.gz
LiverSegmentations/CRLM-CT-1045/liver.nii.gz
LiverSegmentations/CRLM-CT-1046/liver.nii.gz
LiverSegmentations/CRLM-CT-1047/liver.nii.gz
LiverSegmentations/CRLM-CT-1048/liver.nii.gz
LiverSegmentations/CRLM-CT-1049/liver.nii.gz
LiverSegmentations/CRLM-CT-1050/liver.nii.gz
LiverSegmentations/CRLM-CT-1051/liver.nii.gz
LiverSegmentations/CRLM-CT-1052/liver.nii.gz
LiverSegmentations/CRLM-CT-1053/liver.nii.gz
LiverSegmentations/CRLM-CT-1054/liver.nii.gz
LiverSegmentations/CRLM-CT-1055/liver.nii.gz
LiverSegmentations/CRLM-CT-1056/liver.nii.gz
LiverSegmentations/CRLM-CT-1057/liver.nii.gz
LiverSegmentations/CRLM-CT-1058/liver.nii.gz
LiverSegmentations/CRLM-CT-1059/liver.nii.gz
LiverSegmentations/CRLM-CT-1060/liver.nii.gz
LiverSegmentations/CRLM-CT-1061/liver.nii.gz
LiverSegmentations/CRLM-CT-1062/liver.nii.gz
LiverSegmentations/CRLM-CT-1063/liver.nii.gz
LiverSegmentations/CRLM-CT-1064/liver.nii.gz
LiverSegmentations/CRLM-CT-1065/liver.nii.gz
LiverSegmentations/CRLM-CT-1066/liver.nii.gz
LiverSegmentations/CRLM-CT-1067/liver.nii.gz
LiverSegmentations/CRLM-CT-1068/liver.nii.gz
LiverSegmentations/CRLM-CT-1069/liver.nii.gz
LiverSegmentations/CRLM-CT-1070/liver.nii.gz
LiverSegmentations/CRLM-CT-1071/liver.nii.gz
LiverSegmentations/CRLM-CT-1072/liver.nii.gz
LiverSegmentations/CRLM-CT-1073/liver.nii.gz
LiverSegmentations/CRLM-CT-1074/liver.nii.gz
LiverSegmentations/CRLM-CT-1075/liver.nii.gz
LiverSegmentations/CRLM-CT-1076/liver.nii.gz
LiverSegmentations/CRLM-CT-1077/liver.nii.gz
LiverSegmentations/CRLM-CT-1078/liver.nii.gz
LiverSegmentations/CRLM-CT-1079/liver.nii.gz
LiverSegmentations/CRLM-CT-1080/liver.nii.gz
LiverSegmentations/CRLM-CT-1081/liver.nii.gz
LiverSegmentations/CRLM-CT-1082/liver.nii.gz
LiverSegmentations/CRLM-CT-1083/liver.nii.gz
LiverSegmentations/CRLM-CT-1084/liver.nii.gz
LiverSegmentations/CRLM-CT-1085/liver.nii.gz
LiverSegmentations/CRLM-CT-1086/liver.nii.gz
LiverSegmentations/CRLM-CT-1087/liver.nii.gz
LiverSegmentations/CRLM-CT-1088/liver.nii.gz
LiverSegmentations/CRLM-CT-1089/liver.nii.gz
LiverSegmentations/CRLM-CT-1090/liver.nii.gz
LiverSegmentations/CRLM-CT-1091/liver.nii.gz
LiverSegmentations/CRLM-CT-1092/liver.nii.gz
LiverSegmentations/CRLM-CT-1093/liver.nii.gz
LiverSegmentations/CRLM-CT-1094/liver.nii.gz
LiverSegmentations/CRLM-CT-1095/liver.nii.gz
LiverSegmentations/CRLM-CT-1096/liver.nii.gz
LiverSegmentations/CRLM-CT-1097/liver.nii.gz
LiverSegmentations/CRLM-CT-1098/liver.nii.gz
LiverSegmentations/CRLM-CT-1099/liver.nii.gz
LiverSegmentations/CRLM-CT-1100/liver.nii.gz
LiverSegmentations/CRLM-CT-1101/liver.nii.gz
LiverSegmentations/CRLM-CT-1102/liver.nii.gz
LiverSegmentations/CRLM-CT-1103/liver.nii.gz
LiverSegmentations/CRLM-CT-1104/liver.nii.gz
LiverSegmentations/CRLM-CT-1105/liver.nii.gz
LiverSegmentations/CRLM-CT-1106/liver.nii.gz
LiverSegmentations/CRLM-CT-1107/liver.nii.gz
LiverSegmentations/CRLM-CT-1108/liver.nii.gz
LiverSegmentations/CRLM-CT-1109/liver.nii.gz
LiverSegmentations/CRLM-CT-1110/liver.nii.gz
LiverSegmentations/CRLM-CT-1111/liver.nii.gz
LiverSegmentations/CRLM-CT-1112/liver.nii.gz
LiverSegmentations/CRLM-CT-1113/liver.nii.gz
LiverSegmentations/CRLM-CT-1114/liver.nii.gz
LiverSegmentations/CRLM-CT-1115/liver.nii.gz
LiverSegmentations/CRLM-CT-1116/liver.nii.gz
LiverSegmentations/CRLM-CT-1117/liver.nii.gz
LiverSegmentations/CRLM-CT-1118/liver.nii.gz
LiverSegmentations/CRLM-CT-1119/liver.nii.gz
LiverSegmentations/CRLM-CT-1120/liver.nii.gz
LiverSegmentations/CRLM-CT-1121/liver.nii.gz
LiverSegmentations/CRLM-CT-1122/liver.nii.gz
LiverSegmentations/CRLM-CT-1123/liver.nii.gz
LiverSegmentations/CRLM-CT-1124/liver.nii.gz
LiverSegmentations/CRLM-CT-1125/liver.nii.gz
LiverSegmentations/CRLM-CT-1126/liver.nii.gz
LiverSegmentations/CRLM-CT-1127/liver.nii.gz
LiverSegmentations/CRLM-CT-1128/liver.nii.gz
LiverSegmentations/CRLM-CT-1129/liver.nii.gz
LiverSegmentations/CRLM-CT-1130/liver.nii.gz
LiverSegmentations/CRLM-CT-1131/liver.nii.gz
LiverSegmentations/CRLM-CT-1132/liver.nii.gz
LiverSegmentations/CRLM-CT-1133/liver.nii.gz
LiverSegmentations/CRLM-CT-1134/liver.nii.gz
LiverSegmentations/CRLM-CT-1135/liver.nii.gz
LiverSegmentations/CRLM-CT-1136/liver.nii.gz
LiverSegmentations/CRLM-CT-1137/liver.nii.gz
LiverSegmentations/CRLM-CT-1138/liver.nii.gz
LiverSegmentations/CRLM-CT-1139/liver.nii.gz
LiverSegmentations/CRLM-CT-1140/liver.nii.gz
LiverSegmentations/CRLM-CT-1141/liver.nii.gz
LiverSegmentations/CRLM-CT-1142/liver.nii.gz
LiverSegmentations/CRLM-CT-1143/liver.nii.gz
LiverSegmentations/CRLM-CT-1144/liver.nii.gz
LiverSegmentations/CRLM-CT-1145/liver.nii.gz
LiverSegmentations/CRLM-CT-1146/liver.nii.gz
LiverSegmentations/CRLM-CT-1147/liver.nii.gz
LiverSegmentations/CRLM-CT-1148/liver.nii.gz
LiverSegmentations/CRLM-CT-1149/liver.nii.gz
LiverSegmentations/CRLM-CT-1150/liver.nii.gz
LiverSegmentations/CRLM-CT-1151/liver.nii.gz
LiverSegmentations/CRLM-CT-1152/liver.nii.gz
LiverSegmentations/CRLM-CT-1153/liver.nii.gz
LiverSegmentations/CRLM-CT-1154/liver.nii.gz
LiverSegmentations/CRLM-CT-1155/liver.nii.gz
LiverSegmentations/CRLM-CT-1156/liver.nii.gz
LiverSegmentations/CRLM-CT-1157/liver.nii.gz
LiverSegmentations/CRLM-CT-1158/liver.nii.gz
LiverSegmentations/CRLM-CT-1159/liver.nii.gz
LiverSegmentations/CRLM-CT-1160/liver.nii.gz
LiverSegmentations/CRLM-CT-1161/liver.nii.gz
LiverSegmentations/CRLM-CT-1162/liver.nii.gz
LiverSegmentations/CRLM-CT-1163/liver.nii.gz
LiverSegmentations/CRLM-CT-1164/liver.nii.gz
LiverSegmentations/CRLM-CT-1165/liver.nii.gz
LiverSegmentations/CRLM-CT-1166/liver.nii.gz
LiverSegmentations/CRLM-CT-1167/liver.nii.gz
LiverSegmentations/CRLM-CT-1168/liver.nii.gz
LiverSegmentations/CRLM-CT-1169/liver.nii.gz
LiverSegmentations/CRLM-CT-1170/liver.nii.gz
LiverSegmentations/CRLM-CT-1171/liver.nii.gz
LiverSegmentations/CRLM-CT-1172/liver.nii.gz
LiverSegmentations/CRLM-CT-1173/liver.nii.gz
LiverSegmentations/CRLM-CT-1174/liver.nii.gz
LiverSegmentations/CRLM-CT-1175/liver.nii.gz
LiverSegmentations/CRLM-CT-1176/liver.nii.gz
LiverSegmentations/CRLM-CT-1177/liver.nii.gz
LiverSegmentations/CRLM-CT-1178/liver.nii.gz
LiverSegmentations/CRLM-CT-1179/liver.nii.gz
LiverSegmentations/CRLM-CT-1180/liver.nii.gz
LiverSegmentations/CRLM-CT-1181/liver.nii.gz
LiverSegmentations/CRLM-CT-1182/liver.nii.gz
LiverSegmentations/CRLM-CT-1183/liver.nii.gz
LiverSegmentations/CRLM-CT-1184/liver.nii.gz
LiverSegmentations/CRLM-CT-1185/liver.nii.gz
LiverSegmentations/CRLM-CT-1186/liver.nii.gz
LiverSegmentations/CRLM-CT-1187/liver.nii.gz
LiverSegmentations/CRLM-CT-1188/liver.nii.gz
LiverSegmentations/CRLM-CT-1189/liver.nii.gz
LiverSegmentations/CRLM-CT-1190/liver.nii.gz
LiverSegmentations/CRLM-CT-1191/liver.nii.gz
LiverSegmentations/CRLM-CT-1192/liver.nii.gz
LiverSegmentations/CRLM-CT-1193/liver.nii.gz
LiverSegmentations/CRLM-CT-1194/liver.nii.gz
LiverSegmentations/CRLM-CT-1195/liver.nii.gz
LiverSegmentations/CRLM-CT-1196/liver.nii.gz
LiverSegmentations/CRLM-CT-1197/liver.nii.gz
LiverSegmentations/CRLM-CT-1198/liver.nii.gz
runs/events.out.tfevents.1697397142.poseidon.20384.0
runs_array/net_checkpoint_118.pt
runs_array/net_checkpoint_177.pt
runs_array/net_checkpoint_236.pt
runs_array/net_checkpoint_295.pt
runs_array/net_checkpoint_354.pt
runs_array/net_checkpoint_59.pt
